---
layout: default
title: "Media Appearances"
emoji: "📡"
---

<center><h2>Media Appearances</h2></center>

Here you will find links to podcasts and articles that feature our journey, or at least the ones I know about!

<hr>

<center><h2>Articles</h2></center>

<figure>
    <center><img src="/images/media/explorersweb.png"
         alt="ExplorersWeb"></center>
</figure>

{% include media_link.html
  url="https://explorersweb.com/cycling-across-central-asia/"
  image="/images/media/explorersweb-tibet-central-asia.webp"
  text="A Cyclist's Journey Across Tibet and Central Asia" %}
<hr>
<figure>
    <center><img src="/images/media/comaps.png"
         alt="CoMaps Blog"></center>
</figure>

{% include media_link.html
  url="https://www.comaps.app/news/2026-02-26/couple-traveling-the-world-with-comaps/"
  image="/images/media/comaps-travelling-the-world-with-comaps.webp"
  text="This couple is traveling the world with CoMaps" %}
<hr>


<center><h2>Podcasts</h2></center>

<figure>
    <center><img src="/images/media/TABT.png"
         alt="The Accidental Bicycle Tourist"></center>
</figure>

{% include media_link.html
  url="https://www.accidental-bicycle-tourist.com/episodes/open-source-open-roads-the-hacker-bikepacker-story/"
  image="/images/media/opensource-openroads.jpeg"
  text="Open Source, Open Roads: The Hacker Bikepacker Story" %}

<hr>

<figure>
    <center><img src="/images/media/seek-travel-ride.png"
         alt="Seek Travel Ride"></center>
</figure>

{% include media_link.html
  url="https://www.youtube.com/watch?v=ojg-FzQsQ1E"
  image="/images/media/STR.png"
  text="What's it like to go bikepacking in Kyrgyzstan: Javi a.k.a the Hacker Bikepacker" %}

{% include media_link.html
  url="https://www.youtube.com/watch?v=-7XPzmKOkO0"
  image="/images/media/STR.png"
  text="Updates from the Road: Rebecca Gross (multiple episodes)" %}
