---
layout: default
title: "Tech"
emoji: "🐧"
---

<h2>
	<center>🛠️ For Techies 💻</center>
</h2>
<p class="section-description">All around Open Source, especially (but not only!) focused on Linux and embedded systems
</p>
<center>
	<div class="home">
		<div class="posts">
			{% assign tech_posts = site.posts | where: "categories", "tech" %}
			{% for post in tech_posts %}
			<div class="post py3">
				{% if post.image %}
				<a href="{{ post.url | relative_url }}" class="post-title-image-link">
					<img src="{{ post.image }}" class="post-title-image">
				</a>
				{% endif %}
				<p class="post-meta">
					{% if site.date_format %}
					{{ post.date | date: site.date_format }}
					{% else %}
					{{ post.date | date: "%b %-d, %Y" }}
					{% endif %}
					{% if post.updated %}
					{% if site.date_format %}
					- updated: {{ post.updated | date: site.date_format }}
					{% else %}
					- updated: {{ post.updated | date: "%b %-d, %Y" }}
					{% endif %}
					{% endif %}
				</p>
				<a href="{{ post.url | relative_url }}" class="post-link">
					<h3 class="h2 post-title">{{ post.title }}</h3>
				</a>
				<span class="post-summary">
					{% if post.summary %}
					{{ post.summary }}
					{% else %}
					{{ post.excerpt }}
					{% endif %}
					{% include tags.html %}
				</span>
			</div>
			{% endfor %}
		</div>
	</div>
</center>
