<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .linkedin-link {
            font-weight: bold;
            color: #0000CD;
            text-decoration: none;
            text-shadow: none;
        }

        .linkedin-link:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

<footer class="center">
  <div class="measure">
    <small>
    </small>
  </div>
  <div class="footer-foot">
    <img src="{{ site.baseurl }}/images/logos/hacker-bikepacker-simple-192x192.webp" alt="Javier Carrasco Cruz" class="avatar" width="192" height="192" loading="lazy">
     <p>
       Javier Carrasco Cruz, 2023-26
     </p>
     <div class="social-icons">
       <a class="fas fa-rss" href="{{ "/feed.xml" | relative_url }}" aria-label="RSS"></a>
       {% if site.email %}
         <a class="fas fa-envelope" href="mailto:{{ site.email }}" aria-label="Email me"></a>
       {% endif %}
     </div>
     <p>
       <a href="{{ site.baseurl }}/LICENSE.txt">Code: MIT License</a>
       |
       <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">Content: CC BY-NC-SA 4.0</a>
       <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="" width="22" height="22" loading="lazy">
       <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="" width="22" height="22" loading="lazy">
       <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt="" width="22" height="22" loading="lazy">
       <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="" width="22" height="22" loading="lazy">
     </p>
     <p>
       <a href="{{ site.baseurl }}/legal_notice.html" class="linkedin-link">Legal Notice</a> | <a href="{{ site.baseurl }}/privacy_policy.html" class="linkedin-link">Privacy Policy</a>
     </p>
  </div>
</footer>

{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>
{% endif %}
<script type="text/javascript">
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}")
    }
</script>
</body>
</html>
