html, body {
  overscroll-behavior: none;
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  padding-top: $space-0;
  padding-bottom: $space-2;
  transition: all 0.8s ease;
}

.site-header a {
  color: $darker-green;
  font-size: 0.9rem;
  font-weight: $header-font-weight;
  background-image: none;
}

.site-header.shrink {
  padding-top: $space-0;
  padding-bottom: $space-1;
  font-size: 0.6em;
  transition: all 0.8s ease;
}

.site-header .site-title {
  display: flex;
  align-items: center;
  font-size: $h3;
  transition: font-size 0.8s ease, margin 0.8s ease;
}

.site-header.shrink .site-title {
  font-size: $h5;
  transition: font-size 0.8s ease, margin 0.8s ease;
  margin: 0;
}

.site-header .site-title img {
  width: 124px;
  height: 124px;
  margin-right: 10px;
  transition: width 0.8s ease, height 0.8s ease;
}

.site-header.shrink .site-title img {
  width: 40px;
  height: 40px;
}

.site-nav {
  padding-top: $nav-padding;
}

.site-header nav a {
  color: $darker-green;
  transition: font-size 0.8s ease, padding 0.8s ease, color 0.8s ease;
}

.site-header.shrink nav a {
  padding-top: 0;
  padding-bottom: 0;
  font-size: $h5;
  transition: all 0.8s ease;
}

.site-header.shrink .site-nav {
  padding-top: 0;
  padding-bottom: 0;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active,
.site-header nav a.nav-active:hover,
.site-header nav a.nav-active:focus,
.site-header nav a.nav-active:active {
  color: $darker-green;
  opacity: 0.50;
  border-bottom: $nav-link-border-bottom;
}

.site-header nav a.nav-active {
  border-bottom: $nav-active-border-bottom;
  border-top: $nav-active-border-top;
}

.site-nav a + a {
  margin-left: $nav-link-padding-x;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-summary {
  opacity: 0.50;
}

.posts .post a:hover .post-title {
  transition: all 0.8s ease;
  color: $green;
}
.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
